
h1{
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  //line-height: 110%;
  line-height: 44px; /* or 44px */
  font-feature-settings: 'case' on;
  color: #102261;
}

.container{
  width: 575px;
  margin: 0 auto;
}

*, *:before, *:after {
  /* -webkit-box-sizing: inherit; */
    box-sizing: inherit;
  //rit */: ;
}

input{border: none; background: no-repeat;}
