body { margin: 0; }

h1 {
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 44px; // 110%; or 44px
	font-feature-settings: 'case' on;
	color: #102261;
	margin-block-start: 0;
	margin-block-end: 1.8rem;
}

.container {
	width: 90%;
	max-width: 1165px;
	margin: 0 auto;
}

.content-container {
	max-width: 561px;
}

*,
*:before,
*:after {box-sizing: inherit;}

input {
	border: none;
	background: no-repeat;
}

@media only screen and (max-width: 500px){
	.container { width: 95%;}
}
